<div >
  <%= @player_1_name %> vs. <%= @player_2_name %>

  <p> <%= @player_1_name %>: 10HP </p>
  <form action="/attack">
    <input type="submit" value="Attack!">
  </form>
  <p> <%= @player_2_name %>: 10HP <button type="button" >test!</button>
</div>
